@font-face {
  font-family: "SBSansText";
  src: url("./assets/fonts/SBSansText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SBSansText";
  src: url("./assets/fonts/SBSansText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SBSansText";
  src: url("./assets/fonts/SBSansText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  background: var(--backgroundBasicDefault);
  color: var(--textBaseDefault);
  font-family: "SBSansText", sans-serif;
}
